body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

}
.navbar > ul{
    display: flex;
}
.navbar > ul > li{
  padding: 10px;
  list-style: none;  
}
.product_card{
    
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    
    margin-top: 10px;  
}
.product{
     
    width: 350px;
    height: 250px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: 20px;
}
.product h1{
    font-size: 15px;
}
.product > .product_img{
    width: 130px;
    height: 110px;
    padding-top: 5px;
    


}
